@font-face{
  font-family: 'simpsons';
  src: local("Trickster"), url("/assets/simpsonFont.otf")
}

html, body { 
  height: 100vh;
  width: 100vw;
}

body {
  display: grid;
  grid-template-areas: "title score" "title board" "message board" "message button";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  justify-content: center;
  align-content: center;

  background-color: #7f6346;
  color: black;
  font-family: 'simpsons', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

h1, h2 {
  margin-left: 3vmin;
}

h1 {
  grid-area: title;
  font-size: 10vmin;
  text-align: center;
  color: #15fc00;
}

h2 {
  grid-area: message;
  font-size: 6vmin;
  text-align: center;
}

.scoreBoard {
  grid-area: score;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreBoard > .score {
  font-size: 6vmin;
  margin-right: 2vmin;
}

.scoreBoard > img {
  height: 6vmin;
}

#reset {
  grid-area: button;
  width: 15vmin;
  height: 8vmin;
  border-radius: 2vmin;
  font-size: 3.5vmin;
  justify-self: center;
  align-self: center;

  font-family: 'simpsons';
  color: white;
  background-color: rgb(60, 60, 60);

}

main{
  grid-area: board;
  grid-template-columns: 1;
  grid-template-rows: 1;
  display: grid;
  justify-self: center;
  align-self: center;
}

main > img{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  justify-self: center; 
  align-self: center;
  z-index: -1;
}

.board {
  display: grid;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  z-index: 1;
  justify-self: center;
  align-self: center;

  border: 1vmin solid #4d3a29;
  border-radius: 1vmin;
}

.board > .cell:not(.homer):nth-child(even) {
  background-color: #5d473286;
}

.donut {
  background-image: url('/images/donut.png');
  background-size: 25px;
}

.homer.head {
  border-radius: 0px 1vmin 1vmin 0px;
}

.homer.body {
  background-color: #ffd521;
}