body {

}

.board {
  display: grid;
  /* grid-template-rows: repeat(10, auto);
  grid-template-columns: repeat(10, auto); */
  /* to place child elements into the grid */
  /* grid-column: */
  /* grid-row */
  background-color: black;
  /* text-align: center; */
  /* color: black; */
  /* grid-gap: 0vmin; */

  /* justify-items and align-items */
  place-items: stretch;

  /* align-content and justify-content */
  place-content: center; 
}

.cell {
  background-color: #674743;
}
.cell.apple {
  /* color: red; */
  /* background-color: red; */
  background-image: url('/assets/target.png');
  background-size: 40px;
  border-radius: 50%
}

/* img */

.cell.snake {
  /* color: white; */
  background-color: green;
}



#reset {
  margin-top: 20px;
}
