@font-face{
  font-family: 'simpsons';
  src: local("Trickster"), url("/assets/simpsonFont.otf")
}

html, body { 
  height: 100%;
  width: 100%;
 }

body {

  background-color: black;
  color: white;
  font-family: 'simpsons', Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-areas: "header1 score" "header1 board" "header2 board" "header2 button";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto auto 1fr;
}

h1 {
  font-size: 5rem;
  grid-area: header1;
  margin-top: 12vh;
  text-align: center;
}
h1 > img {
  display: inline-block;
  margin: auto 20px;
  height: 1em;
}

h2 {
  font-size: 3rem;
  margin-left: 2vw;
  text-align: center;
  grid-area: header2;
}

h3 {
  font-size: 2rem;
  grid-area: score;
  margin: auto auto 20px auto;
}

#reset {
  border-radius: 30px;
  width: 8vw;
  height: 6vh;
  font-size: 1.5rem;
  grid-area: button;
  margin: 20px auto;
  font-family: 'simpsons';
}


.board {
  grid-area: board;
  margin: 0 auto;

  display: grid;
  /* grid-template-rows: repeat(10, auto);
  grid-template-columns: repeat(10, auto); */
  /* to place child elements into the grid */
  /* grid-column: */
  /* grid-row */
  /* background-color: black; */
  /* text-align: center; */
  /* color: black; */
  /* grid-gap: 0vmin; */

  /* justify-items and align-items */
  place-items: stretch;

  /* align-content and justify-content */
  place-content: center; 

}

.cell {
  background-color: #674743;
}
.cell:not(.homer){
  border: 1px solid #6e4c47;
}

.donut {
  background-image: url('/assets/donut.png');
  background-size: 4vmin;
}

.homer.body {
  background-color: #ffd521;
  /* background-size: 400%;
  animation-name: animate;
  animation-duration: 5s;
  animation-timing-function: linear; 
  animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
  /* animation-fill-mode: backwards; */
}

/* @keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
} */

.homer.tail {
  border-radius: 30% ;
}

.homer.head {
  background-color: #ffd521;
  /* background-image: url('/assets/homerHead.png'); */
  background-size: 4vmin;
  border-radius: 0px 30px 30px 0px;
}



what {
    /* x offset, y offset, blur size, spread size, color */
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}